openapi: 3.0.0
info:
  title: FitFlo Core API
  description: API for FitFlo AI Health Path Optimizer
  version: 1.0.0
servers:
  - url: https://api.fitflo.site
paths:
  /user/auth/email/register:
    post:
      tags:
        - user/auth/email
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: "password123"
      responses:
        "200":
          description: User registered successfully
        "400":
          description: Bad request, invalid input
  /user/auth/email/login:
    post:
      tags:
        - user/auth/email
      summary: Login a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: "password123"
      responses:
        "200":
          description: User logged in successfully
        "401":
          description: Unauthorized, invalid credentials
  /user/auth/email/refresh:
    get:
      tags:
        - user/auth/email
      summary: Refresh authentication token
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Token refreshed successfully
        "401":
          description: Unauthorized, invalid or expired token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
